@model List<ServicoViewModel>

<h1 class="text-center display-4">Lista de Serviços</h1>

@if (TempData.Peek("MensagemSucesso") != null)
{
    <div class="alert alert-success mensagem-temporaria" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData.Peek("MensagemErro") != null)
{
    <div class="alert alert-danger mensagem-temporaria" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-3">
    <input class="form-control" id="buscador" type="search" placeholder="Buscar..." aria-controls="table-servicos">
</div>

<a title="Adicionar Serviço" class="btn Adc-Servico" asp-controller="Servico" asp-action="CriarServico">Adicionar Serviço</a>
<a title="Adicionar Serviço" class="btn Adc-Servico" asp-controller="Servico" asp-action="SolicitarServico">Solicitar Serviço</a>
<a title="Adicionar Serviço" class="btn Adc-Servico" asp-controller="Servico" asp-action="ListaServicosSolicitados">Serviços Solicitados</a>
@if (Model.Any())
{
    <table id="table-servicos" class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Nome da Empresa</th>
                <th scope="col">Nome do Serviço</th>
                <th scope="col">Descrição</th>
                <th scope="col">Prazo de Entrega</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomeEmpresaFornecedora</td>
                    <td>@item.NomeDoServico</td>
                    <td>@item.DescricaoDoServico</td>
                    <td>@item.PrazoEntregaPadrao</td>
                    <td class="align-items-baseline">
                        <a title="Editar" class="btnEditar" asp-route-id="@item.Id" asp-controller="Servico" asp-action="EditarServico">Editar</a>
                        <a href="#" class="btnDeletar" data-value="@item.Id" title="Excluir">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">Nenhum serviço encontrado.</div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {


            $('#table-servicos').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var oTable = $('#table-servicos').DataTable();
            $('#buscador').on("input", function () {
                oTable.search($(this).val()).draw();
            });
            $(document).ready(function () {
                // Ocultar mensagens temporárias após 2 segundos
                $(".mensagem-temporaria").delay(2000).fadeOut("slow");
            });
        });
    </script>
}
