@model List<SolicitacaoServicoViewModel>

<h2>Lista de Serviços Solicitados</h2>
@if (TempData.Peek("MensagemSucesso") != null)
{
    <div class="alert alert-success mensagem-temporaria" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData.Peek("MensagemErro") != null)
{
    <div class="alert alert-danger mensagem-temporaria" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-3">
    <input class="form-control" id="buscador" type="search" placeholder="Buscar..." aria-controls="table-fornecedores">
</div>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome do Serviço</th>
                <th>Nome da Empresa Fornecedora</th>
                <th>Dada da Solicitação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var solicitacao in Model)
            {
                <tr>
                    <td>@solicitacao.Servico.NomeDoServico</td>
                    <td>@solicitacao.Fornecedor.NomeEmpresaFornecedora</td>
                    <td>@DateTime.Now</td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Nenhum serviço solicitado encontrado.</p>
}

<a asp-action="SolicitarServico" class="btn btn-primary">Solicitar Serviço</a>
@section Scripts{
    <script type="text/javascript">

            $('#table-servicos').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var oTable = $('#table-servicos').DataTable();
            $('#buscador').on("input", function () {
                oTable.search($(this).val()).draw();
            });
        $(document).ready(function () {
            // Ocultar mensagens temporárias após 2 segundos
            $(".mensagem-temporaria").delay(2000).fadeOut("slow");
        });
        });
    </script>
}