@model TesteUGBMVC.Models.ServicoViewModel

@{
    ViewData["Title"] = "Selecionar Fornecedor e Serviço";
}

<h2>Selecionar Fornecedor e Serviço</h2>

@using (Html.BeginForm("SelecionarFornecedorEServico", "Servico", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FornecedorSelecionadoId, "Fornecedor")
        @Html.DropDownListFor(model => model.FornecedorSelecionadoId, new SelectList(Model.Fornecedores, "Id", "NomeEmpresaFornecedora"), "Selecione um fornecedor", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoServico, "Tipo de Serviço")
        @Html.DropDownListFor(model => model.TipoServico, new SelectList(new[] { "Tipo1", "Tipo2", "Tipo3" }), "Selecione um tipo de serviço", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Buscar Serviços</button>
}

@if (Model.Servicos != null && Model.Servicos.Count > 0)
{
    <h3>Serviços Disponíveis:</h3>
    <ul>
        @foreach (var servico in Model.Servicos)
        {
            <li>@servico.NomeDoServico - @servico.DescricaoDoServico</li>
        }
    </ul>
}
