@model List<FornecedorViewModel>

<h1 class="text-center display-4">Lista de Fornecedores</h1>

@if (TempData.Peek("MensagemSucesso") != null)
{
    <div class="alert alert-success mensagem-temporaria" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData.Peek("MensagemErro") != null)
{
    <div class="alert alert-danger mensagem-temporaria" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-3">
    <input class="form-control" id="buscador" type="search" placeholder="Buscar..." aria-controls="table-fornecedores">
</div>

<a title="Adicionar Fornecedor" class="btn Adc-Fornecedor" asp-controller="Fornecedor" asp-action="CriarFornecedor">Adicionar Fornecedor</a>

@if (Model.Any())
{
    <table id="table-fornecedores" class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">País</th>
                <th scope="col">Email</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Inscrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomeEmpresaFornecedora</td>
                    <td>@item.BairroEnderecoFornecedor</td>
                    <td>@item.CidadeEnderecoFornecedor</td>
                    <td>@item.EstadoEnderecoFornecedor</td>
                    <td>@item.PaisEnderecoFornecedor</td>
                    <td>@item.EmailFornecedor</td>
                    <td>@item.CNPJFornecedor</td>
                    <td>@item.InscricaoEstadualEMunicipalFornecedor</td>
                    <td class="align-items-baseline">
                        <a title="Editar" class="btnEditar" asp-route-id="@item.Id" asp-controller="Fornecedor" asp-action="EditarFornecedor">Editar</a>
                        @*fornecedor não deletando (releacionamento)*@
                        @*<a asp-action="DeletarFornecedor" asp-route-id="@item.Id" onclick="return confirm('Tem certeza de que deseja excluir este fornecedor?')">Excluir</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">Nenhum fornecedor encontrado.</div>
}



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#table-fornecedores').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var oTable = $('#table-fornecedores').DataTable();
            $('#buscador').on("input", function () {
                oTable.search($(this).val()).draw();
            });
            $(document).ready(function () {
                // Ocultar mensagens temporárias após 2 segundos
                $(".mensagem-temporaria").delay(2000).fadeOut("slow");
            });
        });
    </script>
}
