@using TesteUGBMVC.ViewModels;
@model List<EstoqueViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>
@if (TempData.Peek("MensagemSucesso") != null)
{
    <div class="alert alert-success mensagem-temporaria" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData.Peek("MensagemErro") != null)
{
    <div class="alert alert-danger mensagem-temporaria" role="alert">
        @TempData["MensagemErro"]
    </div>
}
<div class="container mt-3">
    <input class="form-control" id="buscador" type="search" placeholder="Buscar..." aria-controls="table-fornecedores">
</div>

<p>
    <a asp-controller="Estoque" asp-action="CriarProduto">Novo Produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Estoque</th>
            <th>Estoque Mínimo</th>
            <th>Tipo</th>
            <th>Setor</th>
            <th>Data Cadastro</th>
            <th>Nota Fiscal</th>
            <th>Código EAN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.NomeProduto</td>
                <td>@produto.QuantidadeTotalEmEstoque</td>
                <td>@produto.QuantidadeMinimaEmEstoque</td>
                <td>@produto.TipoDoProdutoUnitarioOuPacote</td>
                <td>@produto.SetorDeDeposito</td>
                <td>@produto.DataCadastroProduto</td>
                <td>@produto.NumeroNotaFiscalProduto</td>
                <td>@produto.CodigoEAN</td>
                <td>
                    <a asp-controller="Estoque" asp-action="EditarProduto" asp-route-id="@produto.Id">Editar</a> |
                    <a asp-controller="Estoque" asp-action="DeletarProduto" asp-route-id="@produto.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-fornecedores').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var oTable = $('#table-fornecedores').DataTable();
            $('#buscador').on("input", function () {
                oTable.search($(this).val()).draw();
            });
            $(document).ready(function () {
                // Ocultar mensagens temporárias após 2 segundos
                $(".mensagem-temporaria").delay(2000).fadeOut("slow");
            });
        });
    </script>
}