@using TesteUGBMVC.ViewModels;
@model List<ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<p>
    <a asp-controller="Produto" asp-action="CriarProduto">Novo Produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Número do Pedido</th>
            <th>Fornecedor</th>
            <th>Quantidade em Estoque</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.NomeProduto</td>
                <td>@produto.NumeroPedidoProduto</td>
                <td>@produto.FornecedorProduto</td>
                <td>@produto.QuantidadeTotalEmEstoque</td>
                <td>
                    <a asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@produto.Id">Editar</a> |
                    <a asp-controller="Produto" asp-action="DeletarProduto" asp-route-id="@produto.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
